
@font-face {
    font-family: "openSans";
    src: url("../fonts/OpenSans/opensans-regular-webfont.eot");
    src: url("../fonts/OpenSans/opensans-regular-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff"),
    url("../fonts/OpenSans/opensans-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "openSans-italic";
    src: url("../fonts/OpenSans/opensans-regularitalic-webfont.eot");
    src: url("../fonts/OpenSans/opensans-regularitalic-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/opensans-regularitalic-webfont.woff") format("woff"),
    url("../fonts/OpenSans/opensans-regularitalic-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "openSans-semibold";
    src: url("../fonts/OpenSans/opensans-semibold-webfont.eot");
    src: url("../fonts/OpenSans/opensans-semibold-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/opensans-semibold-webfont.woff") format("woff"),
    url("../fonts/OpenSans/opensans-semibold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "openSans-bold";
    src: url("../fonts/OpenSans/opensans-bold-webfont.eot");
    src: url("../fonts/OpenSans/opensans-bold-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff"),
    url("../fonts/OpenSans/opensans-bold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "champagne-bold";
    src: url("../fonts/ChampagneLimousines-Bold.eot");
    src: url("../fonts/ChampagneLimousines-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ChampagneLimousines-Bold.woff") format("woff"),
    url("../fonts/ChampagneLimousines-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "freesctp";
    src: url("../fonts/FreestyleScript-Regular.eot");
    src: url("../fonts/FreestyleScript-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FreestyleScript-Regular.woff") format("woff"),
    url("../fonts/FreestyleScript-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}