.icon-gallery {
    width: 25px;
    height: 25px;
    fill: $primary-color;
    position: absolute;
    display: none;
}
.icon-arrow {
    width: 17px;
    height: 17px;
    fill: $primary-color;
}
.icon-feature {
    width: 39px;
    height: 31px;
    fill: $color-text--primary;
}
.footer-social {
    width: 24px;
    height: 21px;
    fill: $color-text--primary;
    
}
.footer-icon {
    width: 20px;
    height: 20px;
    fill: $color-text--primary;
}
