// colors
$color-pimary: #f2802b;
$bg-color: #131211;
$bg-gradiend: linear-gradient(89.98deg, #f2802b 0.01%, #FF3D00 99.97%);
$overlay:  rgba(105, 55, 9, 0.43);

// fonts
$font-primary: 'Open Sans', sans-serif;

