
// $primary-color-dark:   #F57C00;
// $primary-color:        #FF9800;
// $primary-color-light:  #FFE0B2;
// $primary-color-text:   #212121;
// $accent-color:         #448AFF;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;



// Colors
$primary-color: #ffbb42;
$primary-color--light: #ffc155;//f6772c
$primary-color--dark: #e7ad48;
$secondary-color: #709dca;//#818b95; #b5bbc1;#e7edf3

// color-text

$primary-color-text: #394b50;//#7b7b7b; #868686
$color-text: #7b7b7b;
$secondary-color-text : #ffffff;